.loginForm{
    width: 500px;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTitle{
    font-size: 70px;
    font-weight: 500;
    margin: 0;
}

.headerText{
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
}

.loginFormWrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 67%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label{
    font-size: 25px;
    font-weight: 500;
}

.inputWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input{
    height: 60px;
    margin-top: 5px;
    padding-left: 20px;
    font-size: 25px;
}

.button{
    width: 100%;
    height: 60px;
    margin-top: 40px;
    background-color: #ED1C24;
    outline: none;
    border: none;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.button:disabled{
    opacity: 0.5;
}

.subButtonsWrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}

.subButton{
    font-size: 20px;
    margin: 0;
    text-decoration: underline;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.errorText{
    margin: 0;
    color: #ED1C24;
    font-weight: bold;
    margin-top: 10px;
    height: 10px;
}