.floorWrapper{
    width: 100%;
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.floorTitleWrapper{
    width: 100%;
    height: 70px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 30px;
    background-color: rgb(243, 243, 243);
    justify-content: space-between;
}


.rightSideFloorBar{
    display: flex;
    align-items: center;
}

.markerWrapper{
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-size: 21px;
}

.markerColorWhite, .markerColorYellow, .markerColorRed {
    width: 33px;
    height: 33px;
    border: 3px solid rgb(177, 177, 177);
    margin-right: 20px;
}

.markerColorWhite{
    background-color: #fff;
}

.markerColorYellow{
    background-color: #ffb300;
}

.markerColorRed{
    background-color: #ff0000;
}

.schedulerContentWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(209, 209, 209);
    border-bottom: 1px solid rgb(209, 209, 209);
}

.roomsWrapper{
    display: flex;
    flex-direction: column;
}

.arrow{
    width: 20px;
    cursor: pointer;
    height: 100%;
    transition: all 0.4s;
}

.rotated{
    transform: rotate(180deg);
}