.scheduler {
    width: 100%;
}

.subtime{
    width: 100%;
    height: 100%;
}

.subtimeBooked{
    width: 100%;
    height: 100%;
    background-color: red;
}

.daysInWeekWrapper{
    width: 100%;
    height: 100%;
    display: flex;
}

.dayInWeekWrapper{
    height: 100%;
    flex: 1;
}

.dayInWeekTitle{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.dayInWeekAvailability{
    height: 50%;
    border: 1px solid gray;
}

.subtime:hover, .subtimeBooked:hover{
    background-color: rgb(185, 185, 185)!important;
}