.contentWrapper{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonWrapper{
    width: 200px;
    position: absolute;
    top: 120px;
    left: 80%;
}

.floorsWrapper{
    width: 95%;
}

.floorWrapper{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.floorWrapper:hover{
    background-color: rgb(183, 183, 183);
}

.floorTitle{
    font-size: 25px;
    font-weight: bold;
}

.formWrapper{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.input{
    width: 100%;
    height: 60px;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.icon{
    width: 30px;
    margin-left: 30px;
    cursor: pointer;
}