.subTimesWrapper{
    height: 100%;
    border: 1px solid rgb(209, 209, 209);
    display: flex;
    flex: 1;
    cursor: pointer;
}

.subTimesWrapper:hover{
    background-color: rgb(185, 185, 185) !important;
}