.timesWrapper{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: rgb(228, 228, 228);
}

.infoWrapper{
    width: 25%;
    display: flex;
}

.infoCol {
    height: 100%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 5px;
    text-align: center;
}

.times{
    width: 75%;
    display: flex;
}