.periodName{
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(243, 243, 243);
    border: 1px solid black;
    font-weight: 600;
    cursor: pointer;
}

.schedulerWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.periodSwitcher{
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.activePeriod {
    background-color: red;
    border: none;
    color: #fff
}