.contentWrapper{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonWrapper{
    width: 150px;
    position: absolute;
    top: 120px;
    right: 75px;
}

.commonButtonWrapper{
    width: 150px;
    position: absolute;
    top: 120px;
    right: calc(75px + 200px);
}

.floorsWrapper{
    width: 95%;
    border: 1px solid black;
}

.floorWrapper{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 30px;
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.floorWrapper:hover{
    background-color: rgb(183, 183, 183);
}

.floorTitle{
    font-size: 25px;
    font-weight: bold;
}

.formWrapper{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
}

.dropDownWrapper{
    width: 100%;
}

.input{
    width: 100%;
    height: 60px;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.selected{
    background-color: rgb(183, 183, 183);
}

.colsTitle{
    width: 100%;
    height: 80px;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed black;
}

.colWrapper{
    width: 20%;
    text-align: center;
    border-right: 1px solid black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colAssetsWrapper{
    width: 40%;
    text-align: center;
}

.colWrapperLast{
    width: 20%;
    height: 100%;
    border-left: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
}

.colAssetsWrapperValues{
    display: flex;
    column-gap: 30px;
    padding-left: 40px;
    width: 40%;
    text-align: center;
}

.colTitle{
    font-size: 20px;
    font-weight: bold;
}

.icon{
    width: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.values{
    background-color: rgb(255, 255, 255);
}
