.periodName{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    background-color:rgb(243, 243, 243);
    border: 1px solid black;
    color: #000;
    font-size: 16px;
}

.uploadFileInput{
    position: absolute;
    width: 100%;
    height: 500px;
    opacity: 0;
    cursor: pointer;
}